<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flex-column">
  <div class="container-fluid">
    <%= link_to products_path, class: "navbar-logo" do %>
      <%= image_tag("logo.png") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="row justify-content-center search-nav">
      <div class="col-sm-14 my-3">
        <%= form_with url: products_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a product"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse block-avatar" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, profile_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag(current_user.avatar.key, :transformation=>[
  {:gravity=>"face", :height=>300, :width=>300, :crop=>"crop"},
  {:radius=>"max"},
  {:height=>55, :crop=>"scale"},
  {:fetch_format=>:auto}
  ]) %>
            <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My products", my_products_products_path, class: "dropdown-item" %>
              <%= link_to "My orders", my_orders_orders_path, class: "dropdown-item" %>
              <%= link_to "My sales", my_sales_orders_path, class: "dropdown-item" %>
              <%= link_to "My profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "My account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <div class="container first-container">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-sm-offset-1">
          <ul class="category-group mb-2">
            <% Product::CATEGORY.each do |category| %>
              <%= link_to category, products_path(category: category) %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
