<div class="container py-3">
  <div class="row">
      <div class="col bg-white border border-light text-center rounded m-1">
        <h4>Número do pedido</h4>
      </div>
      <div class="col bg-white border border-light text-center rounded m-1">
        <h4>Produto</h4>
      </div>
      <div class="col bg-white border border-light text-center rounded m-1">
        <h4>Quantidade</h4>
      </div>
      <div class="col bg-white border border-light text-center rounded m-1">
        <h4>Preço Unitário</h4>
      </div>
      <div class="col bg-white border border-light text-center rounded m-1">
        <h4>Valor total</h4>
      </div>
  </div>
    <% @orders.each do |order| %>
      <div class="row">
        <div class="col  bg-white text-center border border-light rounded m-1">
          <p class="">130<%= order.id %></p>
        </div>
        <div class="col bg-white text-center border border-light rounded m-1">
          <p><%= order.product.name %></p>
        </div>
        <div class="col bg-white text-center border border-light rounded m-1">
          <p><%= order.quantity %></p>
        </div>
        <div class="col bg-white text-center border border-light rounded m-1">
          <p>R$<%= number_with_precision(order.product.price, precision: 2) %></p>
        </div>
        <div class="col bg-white text-center border border-light rounded m-1">
          <p>R$<%= number_with_precision(order.product.price * order.quantity, precision: 2) %></p>
        </div>
      </div>
    <% end  %>
  </div>
</div>
