<h1>Edit your product:</h1>

<%= simple_form_for @product do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: Product::CATEGORY %>
        <%= f.input :description %>
        <%= f.input :stock %>
        <%= f.input :price %>
        <%= f.submit class: 'btn btn-warning' %>
        <%= f.hidden_field :updated_at, value: DateTime.current %>
        <%= f.input :photos, as: :file, input_html: { multiple: true, required: false } %>
<% end %>

<%= link_to 'Back', products_path, class: "btn btn-primary" %>
