<div class="my-3">
    <%= link_to 'Create', new_product_path, class: "btn btn-success" %>
</div>
<div class="container display-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-offset-1">
        <ul class="list-group mb-3" data-controller="price">
          <% @products.each do |product| %>
            <li class="list-group-item">
              <div class="card-product">
               <%= link_to product.name, product_path(product) %>
               <%= cl_image_tag product.photos.first.key, alt: product.name %>
                <div class="my-3 d-flex">
                    <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary me-2" %>
                    <% if product.orders.empty? %>
                      <%= button_to "Deletar", product, method: :delete, class: "btn btn-danger" %>
                    <% else %>
                      <% if product.active %>
                        <%= link_to "Desativar", product_path(product, product: {active: false}), remote: true, data: {"turbo-method": :patch}, class: "btn btn-danger" %>
                      <% else %>
                        <%= link_to "Ativar", product_path(product, product: {active: true}), remote: true, data: {"turbo-method": :patch}, class: "btn btn-success" %>
                      <% end %>
                    <% end %>
                  </div>
              </div>
            </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</div>
