<body>
  <div class="my-3">
    <%= link_to 'Create', new_product_path, class: "btn btn-success" %>
  </div>

  <div class="container third-container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <ul class="list-group-my-products mb-3">
          <% @products.each do |product| %>
            <li class="list-group-item-my-products">
              <div class="card second-card">
                <%= link_to product.name, product_path(product) %>
                <%= cl_image_tag product.photos.first.key, alt: product.name %>
                  <div class="my-3">
                    <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
                    <% if product.orders.empty? %>
                      <%= button_to "Delete this product", product, method: :delete, class: "btn btn-danger" %>
                    <% else %>
                      <% if product.active %>
                        <%= link_to "Desativar produto", product_path(product, product: {active: false}), remote: true, data: {"turbo-method": :patch}, class: "btn btn-danger" %>
                      <% else %>
                        <%= link_to "Ativar produto", product_path(product, product: {active: true}), remote: true, data: {"turbo-method": :patch}, class: "btn btn-success" %>
                      <% end %>
                    <% end %>
                  </div>

              </div>
            </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</body>
