<h1><%= @product.name %></h1>

<%= @product.category %>
<%= @product.description %>
<%= @product.price %>
<p> quantidade em estoque: <%= @product.stock %></p>
<p> <%= link_to @product.user.name, profile_path(@product.user) %> </p>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: "200px" %>
<% end %>
<%= link_to 'Back', products_path, class: "btn btn-primary" %>

<% if @product.user != current_user %>
  <%= simple_form_for [@product] do |f| %>
    <%= f.button :submit, "Comprar", class: "btn btn-success"%>
  <% end %>
<% end %>
