<h1><%= @product.name %></h1>

<%= @product.category %>
<%= @product.description %>
<%= @product.price %>
<p> quantidade em estoque: <%= @product.stock %></p>
<%= image_tag @product.product_url, height: "200px" %>
<%= link_to 'Back', products_path, class: "btn btn-primary" %>


<%= simple_form_for [@product] do |f| %>
 <%= f.button :submit, "finalizar"%>
<% end %>
